<IfModule mod_rewrite.c>
	RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !(index\.php|public|css|js|robots\.txt)
    #RewriteRule	^(.*)$	test\.com [R=301,L]
    RewriteRule ^(.*)$ index.php?url=$1 [L]
</IfModule>