@CHARSET "ISO-8859-1";
*{
padding : 0;
margin : 0;
/*border : 0;*/
}
body{
/*background-image : url(' bi-background-column.png ');*/
background-attachment : fixed;
background-size : 100% auto;
}
.blended_grid{
display : block;
width : 1004px;
overflow : auto;
margin : 0px auto 0 auto;
}
.pageHeader{
background-color : rgba(0, 0, 0, 0.5);
float : left;
clear : none;
/*height : 122px;*/
width : 1000px;
margin: 1px;
}
.pageHeaderSub{
background-color : rgba(256, 0, 0, 0.5);
float : left;
clear : none;
height : 25px;
width : 1000px;
margin: 1px;
line-height: 30px;
}
.pageBarLeft{
float : left;
clear : none;
min-width : 80px;
min-height : 80px;
}
.pageBarLeftTop{
background-color : rgba(0, 0, 0, 0.5);
float : none;
clear : both;
height : 300px;
width : 200px;
}
.pageBarLeftButtom{
background-color : rgba(0, 0, 0, 0.5);
float : none;
clear : both;
height : 300px;
width : 200px;
}
.pageContent{
background-color : rgba(0, 256, 0, 0.5);
float : left;
clear : none;
/* height : 600px;*/
width :1000px;
}
.pageBarRight{
float : left;
clear : none;
min-width : 80px;
min-height : 80px;
}
.pageBarRightTop{
background-color : rgba(0, 0, 0, 0.5);
float : none;
clear : both;
height : 300px;
width : 200px;
}
.pageBarRightButtom{
background-color : rgba(0, 0, 0, 0.5);
float : none;
clear : both;
height : 300px;
width : 200px;
}
.pageFooter{
background-color : rgba(256, 0, 0, 0.5);
float : left;
clear : none;
/*height : 150px; */
width : 1000px;
}
.pageFooterSub{
background-color : rgba(0, 0, 256, 0.5);
float : left;
clear : none;
/*height : 50px;*/
width : 1000px;
}
